*{
    margin: 0;
    padding: 0;
}
body,html{
    width: 100%;
    height: 100%;
}
.login-bg{
    width: 100%;
    height: 100%;
    background: url(../img/login_bg.png) 100% 100% no-repeat;
    background-size: cover;
}

.login-box{
    width: 544px;
    height: 385px;
    background: url(../img/login_box_bg.png) 100% 100% no-repeat;
    background-size: cover;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.login-title{
    width: 200%;
    text-align: center;
    font-size: 30px;
    color: #ffffff;
    position: absolute;
    top: -15%;
    left: 50%;
    transform: translate(-50%,-50%)
}
.login-content{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    border-bottom: 2px solid rgba(155,186,255,1);
    border-image: url(../img/login_line.png) 1 1;
    width: 73%;
}
.login-content p{
    font-size: 12px;
}
.login-content .login-content-title{
    text-align: center;
    color: #ffffff;
    font-size: 24px;
    font-weight: 800;
    line-height: 24px;
    margin-top: 35px;
    margin-bottom: 45px;
}
.login-content .login-warning{
    width: 252px;
    height: 28px;
    background: rgba(255,232,233,0.9);
    border-radius: 4px;
    color: #F51717;
    font-size: 12px;
    line-height: 28px;
    padding-left: 20px;
    float: left;
    margin-bottom: 9px;
    font-weight: 900;
    position: absolute;
    top: 35px;
    left: 50%;
    transform: translate(-50%);
    display: none;
}
.login-content .login-warning i{
    width: 13px;
    height: 13px;
    font-size: 12px;
    float: left;
    margin-right: 7px;
}
.login-content .login-content-input{
    width: 252px;
    height: 40px;
    border-radius: 4px;
    background: #ffffff;
    margin: auto;
    margin-bottom: 16px;
    line-height: 40px;
    padding-left: 20px;
    overflow: hidden;
}
.login-content .login-content-input span{
    /* display: inline-block; */
    float: left;
    width: 50px;
    color: #999999;
}
.login-content .login-content-input input{
    border: 0;
    font-size: 14px;
    width: 80%;
    float: left;
    line-height: 40px;
}
input[type=text]:focus, input[type=password]:focus {
    border: 0;
    outline: none;
}
.login-content .login-remember-user{
    width: 272px;
    margin: auto;
    padding: 0;
    overflow: hidden;
    margin-bottom: 16px;
}
.login-content .login-remember-user span{
    color: #fff;
    line-height: 12px;
    float: left;
}
.login-content .login-remember-user input[type=checkbox]{
    width: 12px;
    height: 12px;
    line-height: 12px;
    border: 1px solid #fff;
    border-radius: 2px;
    -webkit-appearance:none;
    outline: none;
    margin-right: 8px;
    float: left;
    position: relative;
}
input[type="checkbox"]::before{
    content: "";
    position: absolute;
    top: 0;left: 0;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
}
.login-content .login-remember-user input[type="checkbox"]:checked::before{
    content: "";
    position: absolute;
    background: url('../img/login_checked.svg') 80% 50% no-repeat;
    background-size:8px 8px;
    top: 0;
    left: 0;
    width:100%;
    color:#fff;
    font-size: 12px;
    font-weight: bold;
}
.login-content .login-content-btn{
    width: 272px;
    margin: auto;
    margin-bottom: 35px;
}
.login-content .login-submit{
    width: 272px;
    height: 40px;
    font-size: 12px;
    background: #1983EF;
    color: #fff;
    text-align: center;
    border: 0;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
}
.login-bottom{
    font-size: 12px;
    color: #fff;
    text-align: center;
    margin-top: 20px;
}