*{
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-size: 12px;
}
ul, li {
    list-style: none;
}
#cesiumContainer .compass {
    display: none !important
}
/*仿真头部*/
.headerbg{
    background: #122145;
    position: absolute;
    height:58px;
    z-index: 99;
    width: 100%;
}
.header{
    padding: 0 30px;
    height:58px;
    line-height: 58px;
    background: rgba(0,110,255,0.15);
    box-shadow: inset 0 1px 20px 0 rgba(0,103,240,0.30);
    position: relative;
}
.header .logo{
    font-size: 14px;
    color: #FBFBFB;
}
.header .logo span{
    margin-left: 10px;
}
.user {
    float: right;
    color: #FBFBFB;
    overflow: hidden;
    position: absolute;
    right: .77rem;
    border-radius: 4px;
    padding: 0 10px;
    margin-top: 12px;
    font-size: 12px;
    cursor: pointer;
    z-index: 2;
}
.user img{
    display: inline-block;
    border-radius: 10px;
    width: 22px;
    height: 22px;
    vertical-align: middle;
    margin-right: 10px;
    float: left;
    margin-top: 5px;
}
.user span{
    float: left;
    max-width: 90px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    height:31px;
    line-height:31px;
}
.user i {
    float: left;
    margin-left: 5px;
    width: 0;
    height: 0;
    border-bottom: 5px solid #FBFBFB ;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    margin-top: 15px;
}
.user p{
    overflow: hidden;
    border-top: 1px solid #1E4385;
}
.user p:first-child{
    border-top: none;
}
.user p.quit{
    height: 35px;
    line-height: 35px;
    display: none;
}
.user p .quit_icon{
    background:url("../img/quit.svg") no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin: 0 10px;
}
.user_bg{
    background: #133674;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.18);
}
.user_bg i {
    margin-left: 5px;
    float: left;
    width:0;
    height:0;
    border-left:5px solid transparent;
    border-right: 5px solid transparent;
    border-top:5px solid #FBFBFB ;
    margin-top: 15px;
    border-bottom: none;
}
/*仿真弹框*/
.search_list{
    width: 320px;
    position: absolute;
    z-index: 99;
    top:70px;
    left:30px;
    overflow: hidden;
}
.search_main{
    background: rgba(102,116,147,0.70);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
    height: 42px;
    line-height: 42px;
}
.search_main input{
    float: left;
    width: 270px;
    padding: 0 20px;
    color: rgba(255,255,255,0.70);
    height: 36px;
    line-height: 36px;
    margin-top: 3px;
    background: none;
    border: none;
    outline: none;
}
.search_main input::placeholder {
    color: rgba(255,255,255,0.70);
}
.iconicon-sousuo{
    color: #fff;
    display: inline-block;
    width: 50px;
    text-align: center;
    border-left: 1px solid #8898BB;
    height: 25px;
    line-height: 25px;
    margin-top:4px;
    cursor: pointer;
}
.list_main{
    background: rgba(102,116,147,0.70);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
    margin-top: 5px;
    color: #fff;
    padding-bottom: 10px;
}
.list_main ul{
    height: 430px;
    overflow-y: auto;
}
.list_main ul::-webkit-scrollbar {
    width: 6px;
}

.list_main ul::-webkit-scrollbar-track {
    border-radius: 3px;
    background:none
}

.list_main ul::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background:rgba(97,115,157,0.60);
}
.select_check{
    margin: 0 20px;
    border-bottom:1px solid #667493 ;
    padding: 15px 0;
}
.select_radio{
    margin: 0 20px;
    padding: 15px 0;
}
.select_check span,.select_radio span{
    margin-right: 20px;
    cursor: pointer;
}
.select_check span i{
    display: inline-block;
    width: 12px;
    height: 12px;
    vertical-align: middle;
    margin-right: 4px;
    cursor: pointer;
}
.icon_fx{
    background: url("../img/icon-fx.svg") no-repeat;
}
.icon_fxxz{
    background: url("../img/icon-fxxz.svg") no-repeat;
}
.select_radio span{
    line-height: 24px;
    cursor: pointer;
}
.select_radio span i{
    display: inline-block;
    width: 14px;
    height: 14px;
    vertical-align: middle;
    margin-right: 4px;
    cursor: pointer;
}
.icon_dx{
    background: url("../img/icon-dx.svg") no-repeat;
}
.icon_dxxz{
    background: url("../img/icon-dxxz.svg") no-repeat;
}

.listtitle{
    border-top: 1px solid #667493;
    border-bottom: 1px solid #667493;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
}
.listtitle span{
    float: left;
    width: 50%;
    padding-left: 40px;
}

.list_main ul li{
    overflow: hidden;
    height: 35px;
    line-height: 35px;
    cursor: pointer;
}
.list_main ul li span{
    float: left;
    width: 50%;
    padding-left: 40px;
}

.list_main ul li i{
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 12px;
    margin-right: 5px;
    vertical-align: middle;
}
.cqz{
    background: rgba(255,217,0,0.40);
    border: 1px solid #FFD900;
}
.wcq{
    background: rgba(255,68,68,0.40);
    border: 1px solid #FF4444;
}
.cqwc{
    background: rgba(66,146,255,0.40);
    border: 1px solid #4292FF;
}
.yrz{
    background: rgba(0,255,195,0.40);
    border: 1px solid #00FFC3;
}
.qyyx{
    background: rgba(255,86,207,0.40);
    border: 1px solid #FF56CF;
}
.list_main .page{
    margin: 0 20px;
    border-top: 1px solid #667493;
    padding: 15px 0;
}
.list_main .page p{
    width: 200px;
    margin:  0 auto;
    text-align: center;
}
.list_main .page i{
    border: 1px solid #889CC9;
    border-radius: 3px;
    width: 24px;
    height: 24px;
    display: inline-block;
    font-style: normal;
    margin:  0 2px;
    color: #889CC9;
    text-align: center;
    line-height: 22px;
    cursor: pointer;
}
.list_main .page span{
    font-family: "宋体";
    color: rgba(136,156,201,0.60);
    display: inline-block;
    width: 24px;
    height: 24px;
    text-align: center;
    cursor: pointer;
}
.list_main .page i.on{
    background: #889CC9;
    color: #CCD8F1;
}

/*确认弹框*/
.confirm_pop{
    width: 320px;
    /* height: 164px; */
    padding: 30px 0;
    background: rgba(102,116,147,0.70);
    border: 1px solid #667493;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.50);
    border-radius: 3px;
    position: absolute;
    z-index: 99;
    left: 33%;
    top: 8%;
}
.confirm_pop p{
    width:240px;
    font-size: 14px;
    color: #fff;
    margin: 0 auto;
    line-height:22px;
    overflow: hidden;
}
.confirm_pop p i{
    float: left;
}
.confirm_pop p span{
    float: left;
    width: 210px;
    margin-left: 10px;
}
.con_btn{
    width: 150px;
    margin: 0 auto;
}
.con_btn span{
    display: inline-block;
    width: 70px;
    height: 28px;
    text-align: center;
    line-height: 28px;
    margin-right: 10px;
    margin-top: 24px;
    border: 1px solid #FFFFFF;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
}
.con_btn span:last-child{
    margin-right: 0;
}
.con_btn span.on{
    background:#fff;
    color:#616E8D;
}
/*项目弹框*/
.project_pop{
    background: rgba(102,116,147,0.70);
    border: 1px solid #667493;
    box-shadow: 0 5px 10px 0 rgba(51,51,51,0.50);
    border-radius: 4px;
    position:relative;
    z-index: 99;
    padding: 20px;
}
.cesium-popup-background{
    background: none;
    overflow: hidden;
}
.project_pop h2{
    font-size: 16px;
    font-weight: normal;
    color: #fff;
}
.project_pop h3{
    font-size: 12px;
    color: #fff;
    font-weight: normal;
    margin-top: 5px;
}
.small_pop{
    top:75%;
    position: absolute;
}
.project_pop ul{
    margin-top: 10px;
    font-size:12px;
    color: #fff;
    border-top: 1px solid #667493;
    padding-top: 10px;
}
.project_pop ul li{
    height: 22px;
    line-height: 22px;
}
.triangle{
    padding:0px;
    width:0px;
    height:0px;
    position:absolute;
    bottom:-17px;
    left: 50%;
    margin-left: -4px;
}
.triangle {
    border: 8px solid transparent;
    border-top-color: #667493;
}
.step{
    overflow: hidden;
    margin-top: 10px;
    color: #fff;
}
.qc_l,.qr_l{
    float: left;
    width: 60px;
    text-align: center;
}
.qc_l span,.qr_l span{
    display: block;
    background: rgba(145,157,185,0.90);
    border-radius: 3px;
    height: 18px;
    font-size: 12px;
    text-align: center;
    line-height: 18px;
    margin-bottom: 2px;
}
.pro_m{
    background: url("../img/jt_icon.png") no-repeat;
    float: left;
    width: 81px;
    height: 9px;
    margin: 6px 5px 0 5px;
}

/*选择弹框*/
.select_pop{
    background: rgba(102,116,147,0.70);
    border: 1px solid #667493;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.50);
    border-radius: 3px;
    width: 360px;
    position: absolute;
    z-index: 99;
    left: 60%;
    top: 10%;
    color: #fff;
    padding:20px 0;
}
.select_pop ul li{
    overflow: hidden;
    height: 28px;
    line-height: 28px;
    width: 260px;
    margin: 0 auto;
}
.select_pop ul li span{
    float:left;
    text-align: right;
    width: 84px;
}
.select_pop ul li em{
    font-style: normal;
}
.select_pop ul li select{
    float: left;
    border: 1px solid #A3A9B9;
    border-radius: 3px;
    width: 173px;
    height: 28px;
    background: none;
    vertical-align: middle;
    color: rgba(255,255,255,0.60);
    outline: none;
}
.select_pop ul li.mt_10{
    margin-top: 10px;
}
.select_pop ul li input{
    display: inline-block;
    width: 173px;
    border: 1px solid #A3A9B9;
    background: none;
    color: rgba(255,255,255,0.60);
    height: 28px;
    padding: 0 10px;
    outline: none;
}
.select_pop ul li select option{
    color:#999;
}
/*地块详情列表*/
.details_list{
    width: 440px;
    background: rgba(102,116,147,0.70);
    border: 1px solid #667493;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.50);
    border-radius: 3px;
    position: absolute;
    z-index: 99;
    left: 60%;
    top: 45%;
    color: #fff;
}
.list_tit{
    font-size: 16px;
    color: #fff;
    border-bottom: 1px solid #667493;
    height: 45px;
    line-height: 45px;
    padding: 0 20px;
}
.details_list dl{
    padding:10px 20px;
    border-bottom: 1px solid #667493;
}
.details_list dl.active{
    background: rgba(253,43,28,0.06);
    box-shadow: inset 0 0 15px 0 rgba(255,36,36,0.28);
}
.details_list dl:last-child{
    border-bottom: none;
}
.iconicon-diqu{
    margin-right: 5px;
}
/*.iconicon-guanbi{*/
/*float: right;*/
/*padding: 0 10px;*/
/*margin-right: -10px;*/
/*}*/
.details_list dd{
    overflow: hidden;
    margin-top: 8px;
}
.details_list dd span{
    float: left;
    width: 25%;
    margin-left:6%;
    border-right: 1px dashed #667493;
    line-height: 20px;
}
.details_list dd span:nth-child(2){
    width: 30%;
}
.details_list dd span:last-child{
    border-right: none;
}
.details_list dd span i{
    display: block;
    font-size: 12px;
    color: rgba(255,255,255,0.60);
    font-style: normal;
}
.details_list dd span b{
    width: 12px;
    height: 12px;
    border-radius: 12px;
    margin-right: 5px;
    float: left;
    margin-top: 4px;

}
.dk_list {
    height: 360px;
    overflow-y: scroll;
}
.dk_list::-webkit-scrollbar {
    width: 6px;
}

.dk_list::-webkit-scrollbar-track {
    border-radius: 3px;
    background:none
}

.dk_list::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background:rgba(97,115,157,0.60);
}
.gh_btn{
    position: absolute;
    z-index:99;
    right:30px;
    top:30px;
    width: 130px;
    height: 46px;
    line-height:46px;
    background:rgba(142,142,142,0.50);
    border-radius: 23.5px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;

}
.gh_btn span{
    background: url("../img/icon-gh.svg") no-repeat 25px 14px;
    display: inline-block;
    background-size: 15px 15px;
    vertical-align: middle;
    margin-right:5px;
    padding-left: 45px;
}
.layui-layer{
    background: none;
}

.layui-layer-dialog{
    background: rgba(102,116,147,0.70);
}
.closed{
    display: block;
    padding: 10px;
    background:url("../img/closed.svg") no-repeat 5px 5px;
    width:14px;
    height: 14px;
    position:absolute;
    right: 5px;
    top: 5px;
}
.pickPolygon{
    display: none
}
.confirm_pop{
    display: none;
    left:0;
    top: 0;
}