*{
    padding: 0;
    margin: 0;
}
html,body{
    width: 100%;
    height: 100%;
}
.wrapper-box{
    padding: 1%;
    padding-top: 0;
    width: 98%;
    height: 98%;
}
.content-box{
    height: 87.5%;
    width: 100%;
}
.content-left,.content-right{
    height: 100%;
    float: left;
}
.content-left{
    width: 40%;
}
.content-right{
    width: 59.9%;
    height: 97%;
    border: .01rem solid rgba(0,117,255,0.5);
    padding: 1%;
    box-sizing: border-box;
}